/*Header*/

.icon-excel {
    background-image: url('/img/User_cicrle_black.svg');
    padding-left: 36px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-repeat: no-repeat;
}

.buttoms_auth_reg a {
    text-decoration: none;
    color: black;
}

/* index */

/* Поиск */

.search {
    max-width: 80%;
    min-height: 4rem;
    max-height: 17rem;
    background-color: #FFBA00;
    border-radius: 15px;
}

.search-form button {
    width:12.5rem;
}

.search form {
    width: 100%;
}

.search-form input {
    width: 17rem;
    height: 3.6rem;
    border-radius: 15px;
}


/* Главная инфа */



.test {
    width: 100%;
}

.country {
    width: 42%;
}


.country img {
    border-radius: 15px;
    width: 100%;
    height: 20rem;
}

.country-name {
    top: 0.5rem;
    left: 1rem;
}

.country-small img {
    border-radius: 15px;
    width: 100%;
    height: 15rem;
}

.country-small-name {
    top: 0.5rem;
    left: 1rem;
}

.location {
    font-size: 11px;
}

.card-body p {
    margin: 0 !important;
}

/* Регистрация и Авторизация */
.form{
    max-width:29rem;
}

.form input {
    height: 3rem;
    border-radius: 15px;
    border: 1px solid #000;
    background: #FFF;
}

.form input::placeholder {
    margin-left: 20px;
}

.form p {
    margin: 0 !important;
    font-size: 14px !important;
}

.form button {
    width: 100%;
    height: 3rem;
    border-radius: 5px;
    border: none;
    background: #133AAC;
}

/*Персональные данные*/

.personal-settings {
    max-height: 24rem;
    min-width: 19rem;
    max-width: 24rem;
}

.personal-info {
    width: 75%;
}

.table th {
    vertical-align: middle;
    max-width: 3rem;
}

.table td {
    vertical-align: middle;
    padding: 1rem 0.5rem;
}

/*Безопасность*/

/*Моя Бронь*/

.personal-booking-info {
    width: 80%;
}

.truncate {
    margin: 0;
    /* Убираем внешний отступ */
    -webkit-line-clamp: 6;
    /* Число отображаемых строк */
    display: -webkit-box;
    /* Включаем флексбоксы */
    -webkit-box-orient: vertical;
    /* Вертикальная ориентация */
    overflow: hidden;
    /*Обрезаем всё за пределами блока */
}

.view-information {
    right: 0.5rem;
    bottom: 0.5rem;
}

/*Мои объекты*/
.truncate2 {
    margin: 0;
    /* Убираем внешний отступ */
    -webkit-line-clamp: 3;
    /* Число отображаемых строк */
    display: -webkit-box;
    /* Включаем флексбоксы */
    -webkit-box-orient: vertical;
    /* Вертикальная ориентация */
    overflow: hidden;
    /*Обрезаем всё за пределами блока */
}

/* Каталог */
.filter-settings {
    max-height: 34rem;
    min-width: 15rem;
}

.hotel-card {
    max-width: 100%;
    max-height: auto;
}

.filter-position {
    max-width: 12rem;
    padding-left: 1rem;
}

.truncate3 {
    margin: 0;
    /* Убираем внешний отступ */
    -webkit-line-clamp: 5;
    /* Число отображаемых строк */
    display: -webkit-box;
    /* Включаем флексбоксы */
    -webkit-box-orient: vertical;
    /* Вертикальная ориентация */
    overflow: hidden;
    /*Обрезаем всё за пределами блока */
}

.cost {
    margin-top: 6.3rem;
}

/* Страница Отеля */

.services-amenities__item {
    display: inline-block;
    width: 50%;
}

.carousel-inner {
    max-height: 30rem;

}

.carousel-inner img {
    max-height: 30rem;
}

.carousel {
    max-width: 60%;
}


@media (max-width: 800px) {
    .test {
        flex-direction: column;
    }
    .country {
        width: 100%;
    }
    .country-small img{
        max-width: 100%;
    }
    .search{
        max-width: 80%;
    }
    .services-amenities__body{
        flex-direction: column;
        width: 20rem;
    }
    .services-amenities__body ul{
        width: 20rem;
    }
}